@import "assets/css/reset.css";
@import "assets/css/header.css";
@import "assets/css/buttons.css";
@import "assets/css/environments.css";
@import "assets/css/animations.css";
@import "assets/css/main.css";
@import "assets/css/cards.css";
@import "assets/css/table.css";
@import "assets/css/reset.css";
@import "assets/css/footer.css";


* {
    font-family: Inter, sans-serif;
}

ion-icon {
    flex-shrink: 0;
    font-size: 2rem;
}
H2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    line-height: 0.5;    
    color: #ffffff;
}



body {
    
    background: linear-gradient(rgba(0, 0, 0, 0.843), rgba(0, 0, 0, 0.862)), url("assets/img/HD-wallpaper-galaxy-sky-stars-night-star-black-space-universe.jpg");
    min-height: auto;
    display: grid;
    grid-template: 60px 1fr 60px / 1fr;
    
    
}
